! Brief:
!   This is xterm config file
! Filename: ~/.Xresources
! Calling Where:
!   put these codes to ~/.xinputrc    
!     # xterm config
!     if [ -s ~/.Xresources ]; then
!     xrdb -load ~/.Xresources
!     fi
! Take effect immediately:
!   # xrdb -load ~/.Xresources

Xft.dpi:96  
Xft.hinting:1  
Xft.hintstyle:hintmedium  
xpdf.title: PDF  
XTerm*locale: true  
XTerm*utf8Title: true  
XTerm*fontMenu*fontdefault*Label: Default  
XTerm*faceName: Source Code Pro  
XTerm*faceNameDoublesize: Source Code Pro
XTerm*faceSize: 11  
XTerm*faceSize1: 11  
XTerm*faceSize2: 11  
XTerm*faceSize3: 11  
XTerm*faceSize4: 11  
XTerm*faceSize5: 11  
XTerm*faceSize6: 11  
XTerm.cjkWidth:true  
XTerm*background: #282828
XTerm*foreground: gray  
XTerm*scrollBar: false  
XTerm*rightScrollBar: true  
XTerm*jumpScroll:  true  
XTerm*SaveLines: 1000  
xterm*vt100*geometry: 120x30

